.cart-flex{
    padding: 5px;
}

.svg-flx{
    margin: auto;
    /* border: 1px solid; */
}

.cart-empty{
    padding: 10px;
    width: 50%;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 30px;
}

.cart-empty p{
    text-align: center;
}


.cart-items {
    /* border: 1px solid brown; */
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

table{
    border-collapse: collapse;
    /* border: 1px solid; */
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.tbody-headings, .tbody-body{
    text-align: center;
}

.tbody-body{
    cursor: pointer;
}

.tbody-body:hover{
    background-color: lightgrey;
}

table tbody td, th{
    text-transform: capitalize;
    width: 25%;
    margin: 5px;
    padding: 10px;
    color: hsl(0, 0%, 17%);
}

.tbody-body td i{
    margin: 4px;
    margin-bottom: 1px;
    color: #555657;
    cursor: pointer;
}

.tbody-body td p{
    display: inline;
    font-size: 25px;
}

.item-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

tbody:nth-child(even){
    background-color: #f2f2f2;
}

table tbody td i.trash{
    color: maroon;
}

table tbody{
    margin-top: 20px;
    /* border-bottom: 2px solid #bfb9b9; */
}


.continue-shopping, .clear-btn{
    border-radius: 4px;
    padding: 4px;
    color: #555657;
    border-color: transparent;
    cursor: pointer;
    margin-left: 135px;
    margin-right: 120px;
}

.continue-shopping{
    background-color: rgb(50, 54, 58);
    font-size: 15px;
    padding: 5px;
}

.clear-btn{
    background-color: #8d0a0a;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.btn-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout, .wallet-transfer{
    /* border: 1px solid blue; */
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 50px;
    margin-right: 140px;
}

.checkout{
    margin-bottom: 10px;;
}

.wallet-transfer{
    background-color:rgb(50, 54, 58);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;
    border-radius: 4px;
    border-color: transparent;
    width: auto;
    margin-left: 140px;
    font-size: 15px;
    margin-bottom: 50px;
    /* transform: translate(110%, 0%); */
}


a:visited{
    color: white;
}